.admin-login {
    background-color: lightblue;
    padding: 10px;
}

#adminUsername {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: larger;
}

#error {
    margin-left: 10px;
    font-size: large;
    color: red;
}


#admin-tools button {
    /*margin-left: 5px;*/
}

.form-inline button {
    margin-left: 5px;
}

#admin-tools-menu {
    display: none;
}

.admin-tools-submenu {
    display: none;
}

.admin-tools-menu {
    background-color: lightblue;
    padding: 10px;
}

.admin-tools-menu h5 {
    margin: 0px 5px 10px 5px;
}

.btn-link:hover {
    cursor: pointer;
}

.itemSelection {
    margin: 10px;
    font-size: 20px;
}

.itemSelection button {
    font-size: 16px;
}

.selectTable {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: solid #DBDADB 2px;
}

.selectTable tr td:nth-child(1) {
    width: 35%;
}

.selectTable tr:nth-child(odd) {
    background-color: #F4F3F4;
}

.selectTable td, .selectTable tr {
    padding: 10px;
    height: 25px;
}


/*Modal CSS*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    max-width: 60%;
    height: 50%;
    font-size: 16px;
    overflow: auto;
}

/* The Close Button */
.closeModal{
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    width: 30px;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

